# ##############################################################################
# # File: .gitignore                                                           #
# # Project: postfix                                                           #
# # Created Date: 2024/11/24 11:59:05                                          #
# # Author: realjf                                                             #
# # -----                                                                      #
# # Last Modified: 2024/11/24 11:59:09                                         #
# # Modified By: realjf                                                        #
# # -----                                                                      #
# #                                                                            #
# ##############################################################################


.history
